/*Backgrounds Settings*/

.bg-light {
  background-color: #fddef8!important;
}

.bg-dark {
  background-color: #EC5598 !important;
}

/*Text Settings*/

.text-primary {
  color: #EC5598 !important;
}

a.text-primary:hover {
  color: #ffbad7!important;
}

.text-secondary {
  color: #fddef8 !important;
}

.text-muted {
  color: #e4e0d6 !important;
}

a {
  color: #EC5598;
}

a:hover {
  color: #ffbad7;
  text-decoration: none;
}

/*Buttons Settings*/

.btn-outline-primary {
  color: #EC5598;
  border-color: #EC5598;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #EC5598;
  border-color: #EC5598;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: #EC5598;
  border-color: #EC5598;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #ec5598;
}

.btn-primary {
  color: #EC5598;
  background-color: white;
  border-color: white;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffbad7;
  border-color: #ffbad7;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #ffbad7;
  border-color: #ffbad7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #ffbad7;
}

.btn-secondary {
  color: white;
  background-color: #EC5598;
  border-color: #EC5598;
}

.btn-secondary:hover {
  color: white;
  background-color: #ffbad7;
  border-color: #ffbad7;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #ffbad7;
  border-color: #ffbad7;
}

.btn-dark {
  background-color: #d84987;
  border-color: #d84987;
}

.btn-dark:hover {
  color: #fff;
  background-color: #FFBAD7;
  border-color: #FFBAD7;
}

.btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
  background-color: #FFBAD7;
  border-color: #FFBAD7;
}

.btn-dark.focus, .btn-dark:focus {
    box-shadow: 0 0 0 0.2rem #FFBAD7;
}

.btn-read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*Navbar Settings*/

.navbar-brand {
  font-size: 40px;
}

.navbar-collapse {
  padding-left: 90px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #EC5598 !important;
  margin-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(255,0,127,.9);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffbad7 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #d84987 !important;
}

/*Topbar settings*/

.top-bar {
  height: 40px;
  background-color: #EC5598;
  color: white;
  padding-top: 10px;
}

.top-bar-info {
  padding-left: 0;
}

.list-top-bar {
  padding: 0; 
}

.list-top-bar>li {
  display: inline-block;
}

.list-top-bar>li .fa-phone{
  padding-right: 8px;
}

.list-top-bar>li .fa-envelope{
  padding-left: 20px;
  padding-right: 8px;
}

@media only screen and (max-width: 450px) {
  .list-top-bar>li{
    font-size: 13px ;
  }
}

@media only screen and (min-width: 991px) {
  .list-top-bar{
    margin-left: auto;
  }
}

@media only screen and (max-width: 990px) {
  .list-top-bar{
    margin-right: auto;
  }
}

/*Navbar settings*/

.nav-link:hover {
  color: #ffbad7 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffbad7;
  background-color: #EC5598;
}

.dropdown-item {
  font-weight: 400;
  color: #EC5598;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: #EC5598;
  background-color: #EC5598;
}

.navbar-toggler:focus {
    outline: none;
  }

.navbar-light .navbar-toggler-icon {
    background-image: url(void)!important;
}


.navbar-toggler-icon {
  padding-top: 4px;
}

@media only screen and (max-width: 990px) {
  .navbar-item{
    font-size: 10px;
  }
}

/*Carousel settings */

.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-text {
  position: absolute;
  margin: auto;
  bottom: 40%;
  color: #EC5598;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  transform: translateY(0);
}

.carousel-text h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}

.carousel-text h3 {
  color: white;
}

.carousel-inner {
  max-height: 700px; 
  overflow: hidden; 
}

.fa-chevron-left {
  font-size: 30px;
}

.fa-chevron-right {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .carousel-text h3 {
    font-size: 1.5em; 
  }
  .carousel-text h1 {
    font-size: 2.5em; 
  }
}

@media only screen and (max-width: 569px) {
  .carousel-text h3 {
    font-size: 1em; 
  }
  .carousel-text h1 {
    font-size: 2em; 
  }
}

@media only screen and (max-width: 378px) {
  .carousel-text h3 {
    font-size: 13px; 
  }
  .carousel-text h1 {
    font-size: 23px; 
  }
}

/*about settings */
.about-section {
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .about-photo {
    padding-bottom: 30px;
  }
}

.about-info {
  margin-left: auto;
  margin-right: auto;
}

.about-info h2 {
  color: #EC5598;
  font-weight: bold;
}

/*Breadcrumbs settings*/

.breadcrumb {
  background-color: #EC5598;
}

.breadcrumb a {
  color: white;
}

.breadcrumb a:hover {
  color: black;
}

.breadcrumb-item.active {
  color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: black;
}

.top-info-bar {
  background-color: #EC5598;
}

/*discounts settings*/

.discounts-section {
  background-color: #EC5598;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 40px;
}

.discounts-info {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.discounts-info h2 {
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .discounts-info {
    padding-bottom: 30px;
  }
}
  
/*Team section*/

.team-section{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.team-section-title h2 {
  font-weight: bold;
  color: #EC5598;
}

.team-title {
  font-weight: bold;
}

.team-subtitle {
  text-align: center;
  padding-bottom: 0.75rem;
}

.card-team{
  width: 25% !important;
  height: auto;
  border: 0px solid rgba(0,0,0,.125) !important;
  margin-bottom: 30px ;
  text-align: center;
}

.fa-brands {
  padding-left: 5px;
  padding-right: 5px;
}

.table {
  background-color: white;
}

/*services section*/

.services-section {
  background-color: #EC5598;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.services-section {
  text-align: center;
}

.services-section-title h2 {
  font-weight: bold;
}

.card-services {
  margin-top: 20px;
}

.services-content {
  background-color: white;
  color: black;
  text-align: center;
}

.services-title {
  font-weight: bold;
}

/*Blog index section*/

.blog-section {
  padding-top: 40px;
}

.blog-section-title {
  text-align: center;
}

.blog-section-title h2 {
  font-weight: bold;
  color: #EC5598;
}

.card-blog {
  padding-top: 20px;
  margin-bottom: 30px;
}

.blog-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-text {
  text-align: justify;
}

.blog-subtitle {
  text-align: center;
}

/*Contact settings*/

.contact-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-section-title h2 {
  text-align: center;
  color: #EC5598;
  font-weight: bold;
}

.maps-info {
  margin-bottom: 40px;
}

.contact-info {
  margin-bottom: 20px;
}
.contact-info h4 {
  color: #EC5598;
  font-weight: bold;
  color: #EC5598;
}

.form-group {
  margin-bottom: 0rem
}

.form-control:focus {
  border-color: #EC5598;
  box-shadow: 0 0 0 0.2rem rgb(236 85 182);
}

.contact-button {
  margin-top: 20px;
  text-align: center;
}

/*Blog content settings*/

.blog-details-section {
  margin-top: 40px;
}

.blog-details-content {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.blog-details-img {
  width: 100%;
}

.blog-details-title {
  margin-top: 30px;
}

.blog-details-title h1 {
  text-align: left;
  font-weight: bold;
  color: #EC5598;
  margin-bottom: 15px;
}

.blog-details-title h4 {
  font-weight: bold;
  text-align: left;
}

.blog-list ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
}

.blog-list li {
  list-style-type: none;
}

.blog-list ul li+li {
  padding-left: 20px;
}

.blog-list i {
  color: #EC5598;
}

.blog-list a {
  padding-left: 5px;
  color: #6c757d;
}

.blog-details-body {
  margin-top: 20px;
}

.blog-details-body p {
  text-align: justify;
}

.comments-section {
  margin-top: 40px;
}

.comments-count {
  color: #EC5598;
}

.comment {
  margin-top: 25px;
}

.comments-count h3 {
  font-weight: bold;
}

.comments-img img {
  width: 70px;
  border-radius: 10px;
  margin-right: 15px;
}

.comment-content h5 {
  font-weight: bold;
  font-size: 22px;
}

.comment-content a {
  color: black;
}

.comment-content .reply {
  color: #EC5598;
  font-size: 20px;
  margin-left: 5px;
}

.comment-content i {
  margin-right: 5px;
}

.comment-text p {
  margin-top: 10px;
  font-size: 18px;
  text-align: justify;
}

.comment-reply {
  padding-left: 40px;
}

.reply-form-section{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
}

.reply-form-section h3{
  font-weight: bold;
  color: #EC5598;
}

/*Team inside settings*/

.team-details-section {
  padding-top: 30px;
}

.team-details-photo {
  padding-bottom: 30px;
}

.team-details-info h2 {
  font-weight: bold;
  color: #EC5598;
}

.team-details-info p {
  text-align: justify;
}

.team-details-contact {
  margin-top: 20px;
}

/*Appointment settings*/

.appointment-section {
  margin-top: 40px;
  text-align: justify;
  margin-bottom: 40px;
}

.appointment-info h2 {
  font-weight: bold;
  color: #EC5598;
}

@media only screen and (max-width: 991px) {
  .appointment-info {
    padding-bottom: 30px;
  }
}

/*Footer settings */

.footer-content {
  background-color: #EC5598;
  color: white;
}

.footer-content h2 {
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .footer-info {
    padding-top: 10px;
  }
}

.footer-content h5 {
  font-weight: bold;
}

.footer-legal {
  background-color: #d84987;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-links a {
  color: white;
}

.social-links a:hover {
  color: #ffbad7;
}

/*Back to top button */

html {
  scroll-behavior: smooth;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  height: 45px; 
  width: 45px;
}

@media (max-width: 767.98px) {
  #back-to-top-btn {
    display: none; /* Ocultar em telas pequenas */
  }
}